.logo{

display: inline-block;

}

title{
font-size: 100;
  color:black;
  font-family: Arial;
  width:50%;
  height:100px;
  text-align:center;
  position: fixed;
  top:-10;
  padding-top: 0;
  text-align: center;
  text-overflow: clip;
}

#A{
  width:160px;
   height:135px;
    position:fixed;
     top:-15;
     padding-right: 100px;
}

.menu{
  display:inline-block;
  width: 34%;
  position:fixed;
  top: 150;
  border-radius: 0px;
}
