.logo{

display: inline-block;

}

title{
font-size: 110;
  color:black;
  font-family: Arial;
  width:74%;
  height:100px;
  text-align:center;
  position: fixed;
  top:-10;
  padding-top: 0;
}

#A{
  width:105px;
   height:80px;
    position:fixed;
     top:10;
}
