.logo{

display: inline-block;

}

title{
  font-size: 25vmin;
  color:black;
  font-family: Arial;
  text-align:center;
  position: fixed;
  top:-10;
}

#A{
  width:170px;
  height:145px;
  margin-top: -15px;
    position: fixed;
}

.btn{
  display:inline-block;
  width: 34%;
  position:fixed;
  top: 150;
  -webkit-border-radius: 0px;
  -webkit-appearance:button;
-moz-border-radius: 0;
-moz-appearance: button;
padding: 1vw;

}
button:active{
  background-color: darkgray;
}

button:hover{
  background-color: darkgray;
}
